/* Suggestions items */
:root {
  --tagify-dd-item-pad: .5em .7em;
}

.tagify__dropdown.users-list .tagify__dropdown__item{
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 1em;
  grid-template-areas: "avatar name"
                        "avatar email";
}

.tagify__dropdown.users-list .tagify__dropdown__item:hover .tagify__dropdown__item__avatar-wrap{
  transform: scale(1.1);
}

.tagify__dropdown.users-list .tagify__dropdown__item__avatar-wrap{
  grid-area: avatar;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  background: #EEE;
  transition: .1s ease-out;
}

.tagify__dropdown.users-list img{
  width: 100%;
  vertical-align: top;
}

.tagify__dropdown.users-list header.tagify__dropdown__item > div,
.tagify__dropdown.users-list .tagify__dropdown__item strong{
  grid-area: name;
  width: 100%;
  align-self: center;
}

.tagify__dropdown.users-list span{
  grid-area: email;
  width: 100%;
  font-size: .9em;
  opacity: .6;
}

.tagify__dropdown.users-list .tagify__dropdown__count {
  border-bottom: 1px solid #DDD;
  color: #000;
  font-weight: 400;
  background-color: #fff;
  padding: 0.5rem;
}

/* Tags items */
.tagify__tag{
  white-space: nowrap;
}

.tagify__tag img{
  width: 100%;
  vertical-align: top;
  pointer-events: none;
}

.tagify__tag:hover .tagify__tag__avatar-wrap{
  transform: scale(1.4) translateX(-10%);
}

.tagify__tag .tagify__tag__avatar-wrap{
  width: 20px;
  height: 20px;
  white-space: normal;
  border-radius: 50%;
  background: silver;
  margin-right: 5px;
  transition: .12s ease-out;
}

.tagify__tag-text {
  margin-left: 0.5rem;
}

.tagify__tag-text,
.tagify__tag--editable .tagify__tag-text {
  margin-left: 0.25rem;
}

.tagify__dropdown__item-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tagify__dropdown-user-info {
  display: flex;
  flex-direction: column;
}

.tagify__dropdown__item .tagify__dropdown__item__avatar-wrap {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.10);
}
