.tagify {
  --tag-inset-shadow-size: 1.5em !important;

  align-items: center !important;
  width: 100%;
  padding: 0 !important;
}

.tagify:focus-within {
  box-shadow: 0 0 0 2px var(--color-white), 0 0 0 5px var(--color-focus);
}

.page-wrapper .tagify :focus,
.ui-dialog .tagify :focus {
  box-shadow: none;
}

.tagify__tag {
  height: 30px;
  transition: none !important;
  border-radius: 50px;
}

#tagify__tag-remove-button {
  margin-right: 0.6rem;
  margin-left: 0.3rem;
  color: #dedfe4;
  background: #55565b;
}

#tagify__tag-remove-button:hover {
  color: #fff;
  background: var(--tag-remove-btn-bg--hover);
}

.tagify__tag--editable #tagify__tag-remove-button {
  margin-right: 0.5rem;
  background: none;
}

.tagify__tag--editable .tagify__tag-entity-id {
  transition: .13s ease-out;
  background: #d3e2e2;
}

.tagify__tag__removeBtn:hover > .tagify__tag:hover {
  background: #c77777;
}

.tagify__tag>div {
  display: flex;
  align-items: center;
  padding: 0.2em 0.5em;
}

.tagify__tag__entity-id-wrap {
  display: inline-block;
  text-align: center;
  color: #55565b;
  border-radius: 0.9rem;
  background-color: white;
  font-size: .8rem;
  line-height: 1.4rem;
}

#tagify__tag-items.tagify__tag_with-entity-id {
  padding: 4px;
}

.tagify__tag_with-entity-id .tagify__tag-text,
.tagify__tag--editable .tagify__tag_with-entity-id .tagify__tag-text {
  margin-left: 0.5rem;
}

.tagify__tag-text,
.tagify__tag--editable .tagify__tag-text {
  margin-left: 0.25rem;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  line-height: 151.523%;
}

.tagify__tag-entity-id {
  padding: 0.5rem;
  font-size: 11px;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
}

#tagify__tag-items {
  border-radius: 50px;
}
